* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #fFFFFF;
    color: #333;
    line-height: auto;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #F1F1F1;
    color: white;
  }
  
  .logo img {
    width: 40%; /* Adjust logo size */
  }
  
  .navbar ul {
    display: flex;
    justify-content: center;
    gap: 40px;
  }
  
  .navbar ul li {
    list-style-type: none;
  }
  
  .navbar ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
    font-size: larger;
  }
  
  .navbar ul li a:hover {
    background-color: #ffffff;
  }
  
  .get-started-btn a {
    color: white;
    text-decoration: none;
    background-color: #007bff;
    padding: 15px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .get-started-btn a:hover {
    background-color: #0056b3;
  }
  
  .main-content {
    text-align: center;
    padding: 100px 20px;
  }
  
  .main-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
    margin-top: 120px;
   padding: 20px 50px;
  }
  
  .main-content p {
    font-size: 18px;
    margin-bottom: 40px;
  }
  
  .buttons .btn {
    text-decoration: none;
    background-color: #007bff;
    color: white;
    padding: 12px 30px;
    border-radius: 5px;
    font-size: 18px;
    margin: 10px;
    transition: background-color 0.3s ease;
  }
  
  .buttons .btn:hover {
    background-color: #0056b3;
  }
  
  /* Bottom Content Section */
.bottom-content {
  background-color: #f1f1f1;
  padding: 100px;
  text-align: left;
  margin-top: 200px;
  width: 100%;
  height: auto;
}

.bottom-content h2 {
  font-size: 36px;
  color: #222;
  text-align: left;
}

.bottom-content h3 {
  font-size: 25px;
}
  

  